mat-card {
    max-width: 95%;
    margin: 2em auto;
    text-align: center;
}

mat-card-title {
    text-transform: uppercase !important;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
}

.form-container {
    margin-top: 4em !important;
}

.blackText {
    color: #000000;
}

.redText {
    color: #DD0000;
}

.yellowText {
    color: #FFCE00;
}

.welcome-message {
    font-family: 'Oswald', sans-serif;
}