<nav class="navbar navbar-expand-lg navbar" *ngIf="currentUser">
    <a class="navbar-brand" routerLink='/'>
        CT Glocken
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" routerLink='/student-area' routerLinkActive="active">
                Área do Aluno
            </a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Admin</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink='/admin-create' routerLinkActive="active">Criar Usuário</a>
                    <a class="dropdown-item" routerLink='/admin-edit' routerLinkActive="active">Editar Usuário</a>
                </div>
            </li>
            <a class="nav-link" routerLink='/help' routerLinkActive="active">
                Ajuda
            </a>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
        </ul>
    </div>
</nav>