.carousel .carousel-item {
    height: 500px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase !important;
    text-align: center;
}

.slide-01 {
    background-image: url("../../assets/img/slide-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.slide-02 {
    background-image: url("../../assets/img/slide-3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1.title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin-top: 2.5em;
}

h2.sub-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

p.context {
    font-size: 20px;
}