<!-- <span class="blackText">Will</span><span class="redText">kom</span><span class="yellowText">men</span><span
        class="blackText">!</span>
<a style="font-size: 18px;"><span>Dia
                {{day}}</span><span> de</span><span style="text-transform: capitalize;">
                {{month}}</span><span style="text-transform: capitalize;"> -
                {{dayWeek}}</span></a> -->

<mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="Professores">
                <div class="teacher-group">
                        <div class="teacher-box-01">
                                <p class="teacher-box-content">LUCAS KÖCHE <a target="_blank"
                                                href="https://www.instagram.com/lvkoche/">
                                                <img style="height: 30px; width: 30px; margin-left: 0.3em;"
                                                        src="../../assets/img/instagram.svg" alt=""
                                                        matTooltip="Instagram/lvkoche" matTooltipPosition="above">
                                        </a>
                                </p>
                        </div>
                        <div class="teacher-box-02">
                                <p class="teacher-box-content">MATHEUS KÖCHE <a target="_blank"
                                                href="https://www.instagram.com/kochematheus/">
                                                <img style="height: 30px; width: 30px; margin-left: 0.3em;"
                                                        src="../../assets/img/instagram.svg" alt=""
                                                        matTooltip="Instagram/kochematheus" matTooltipPosition="above">
                                        </a>
                                </p>
                        </div>
                        <div class="teacher-box-03">
                                <p class="teacher-box-content">GUILHERME SCHMITT <a target="_blank"
                                                href="https://www.instagram.com/o_guischmitt/">
                                                <img style="height: 30px; width: 30px; margin-left: 0.3em;"
                                                        src="../../assets/img/instagram.svg" alt=""
                                                        matTooltip="Instagram/o_guischmitt" matTooltipPosition="above">
                                        </a>
                                </p>
                        </div>
                </div>
                <div class="jumbotron" style="margin-bottom: 0; padding: 3em 2em;">
                        <h1 class="display-4">NOSSOS PROFESSORES</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <hr class="my-4">
                        <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        <a class="btn btn-primary btn-lg" routerLink="/help" role="button">SAIBA MAIS</a>
                </div>
        </mat-tab>
        <mat-tab label="Metodologia">
                <div class="methodology-group">
                        <div class="methodology-box-01">
                                <p class="methodology-box-content">EQUIPAMENTOS</p>
                        </div>
                        <div class="methodology-box-02">
                                <p class="methodology-box-content">TREINAMENTO</p>
                        </div>
                        <div class="methodology-box-03">
                                <p class="methodology-box-content">FUNCIONAL</p>
                        </div>
                </div>
                <div class="jumbotron" style="margin-bottom: 0; padding: 3em 2em;">
                        <h1 class="display-4">NOSSA METODOLOGIA</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <hr class="my-4">
                        <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt
                                mollit anim id est laborum.</p>
                        <a class="btn btn-primary btn-lg" routerLink="/help" role="button">SAIBA MAIS</a>
                </div>
        </mat-tab>
        <mat-tab label="Academia">
                <div class="gym-group">
                        <div class="gym-box-01">
                                <p class="gym-box-content">VISÃO DE FORA</p>
                        </div>
                        <div class="gym-box-02">
                                <p class="gym-box-content">VISÃO DE DENTRO</p>
                        </div>
                        <div class="gym-box-03">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                        <div class="gym-box-04">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                        <div class="gym-box-05">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                        <div class="gym-box-06">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                        <div class="gym-box-03">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                        <div class="gym-box-03">
                                <p class="gym-box-content">INFRAESTRUTURA</p>
                        </div>
                </div>
                <div class="jumbotron" style="margin-bottom: 0; padding: 3em 2em;">
                        <h1 class="display-4">NOSSO CENTRO DE TREINAMENTO</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <hr class="my-4">
                        <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt
                                mollit anim id est laborum.</p>
                        <a class="btn btn-primary btn-lg" routerLink="/help" role="button">SAIBA MAIS</a>
                </div>
        </mat-tab>
</mat-tab-group>



<div class="bannerFaq">
        <div class="banner-container">
                <a>NÃO ENCONTROU O QUE PRECISA? PODEMOS AJUDAR VOCÊ!</a>
                <div class="container-buttons">
                        <button mat-raised-button class="banner-buttons" routerLink='/help' color="link">DÚVIDAS
                                FREQUENTES</button>
                        <button mat-raised-button class="banner-buttons" routerLink='/help' color="link"
                                style="margin-left: 5em">FALE
                                CONOSCO</button>
                </div>
        </div>
</div>