<div class="row login">
    <form class="form-group" name="formLogin">
      <div class="col-md-12 form-group">
        <div>
          <h1> Login </h1>
        <label for="novoUsuario">Email:</label>
          <input id="email"
          class="form-control input-sm"
          ng-model="usuario.email"
          type="email"
          placeholder="bruno@onicron.com.br" />
        <label for="novoUsuario">Senha:</label>
        <input id="senha"
          class="form-control input-sm"
          ng-model="usuario.senha"
          type="password"/>
          <hr>
          <div class="wrapper">
            <button type="submit" class="btn btn-primary btn-md" ng-click="login(usuario)">Login</button>
          </div>
          <hr>
          <button class="btn btn-success" ng-click="cadastrarUsuario()"> Cadastro Usuario </button>
        </div>
      </div>
    </form>
</div>    