<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md 6 text-center text-md-left">
                <br>
                <p>
                    <span style="font-size: 1.30rem;">CT Glocken Portal</span><br>
                    <small>CT Glocken Portal - Designed by CT Glocken.</small>
                </p>
            </div>
            <div class="col-md 6 text-center text-md-right">
                <br>
                <img src="assets/img/CT_Glocken_Logo.png" alt="CT Glocken" width="50px">
                <i>
                    <p class="copyright">Copyright &copy; 2020 | Designed by CT Glocken</p>
                </i>
            </div>
        </div>
    </div>
</footer>