.form-container .container-row .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.form-container .mat-form-field {
    width: 220px;
}

.form-container form {
    margin-bottom: 20px;
}

.form-containerform>* {
    margin: 5px 0;
}

.form-container .mat-radio-button {
    margin: 0 12px;
}

.mat-card-title {
    text-align: center;
}

mat-card {
    max-width: 95%;
    margin: 2em auto;
    text-align: center;
}

mat-toolbar-row {
    justify-content: space-between;
}

.form-container .btn-group {
    justify-content: flex-end;
    display: flex;
}

.example-full-width {
    width: 300px;
}

/* Success Snackbar */
::ng-deep .success-snackbar {
    color: black !important;
    background-color: #45E521 !important;
}

::ng-deep .success-snackbar .mat-simple-snackbar-action {
    color: black !important;
}
