<!--Edit User-->
<mat-card>
    <mat-card-title>
        <u>Editar Usuário</u>
    </mat-card-title>

    <div class="container-row">

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Procurar" matInput [matAutocomplete]="auto" [formControl]="filterControl">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="showForm($event.option.value)">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    {{user}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>

    <mat-card-content class="form-container">
        <form [formGroup]="userForm" #formDirective="ngForm">

            <div class="container-row">

                <mat-form-field>
                    <input matInput placeholder="Nome Completo" formControlName="fullName" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="E-mail" formControlName="email" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                        placeholder="Data de Nascimento" autocomplete="off" formControlName="birthday"
                        autocomplete="off" #dateInput>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Gênero" formControlName="gender">
                        <mat-option *ngFor="let gender of genderOptions" [value]="gender.id">{{gender.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <br>

            <div class="container-row">

                <mat-form-field>
                    <input matInput placeholder="Telefone" formControlName="phone" autocomplete="off"
                        [spMask]="phoneMask">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Telefone Emergencial" formControlName="emergencyPhone"
                        autocomplete="off" [spMask]="phoneMask">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="CPF" formControlName="cpf" autocomplete="off" [spMask]="cpfMask">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="RG" formControlName="rg" autocomplete="off" [spMask]="rgMask">
                </mat-form-field>

            </div>

            <br>

            <div class="container-row">

                <mat-form-field>
                    <textarea matInput placeholder="Endereço" matTextareaAutosize maxlength="80"
                        formControlName="address"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Profissão" formControlName="job" autocomplete="off">
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Contrato" formControlName="contract">
                        <mat-option *ngFor="let contract of contractOptions" [value]="contract.id">{{contract.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Tipo de usuário" formControlName="type">
                        <mat-option *ngFor="let type of typeOptions" [value]="type.id">{{type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <br>

            <div class="btn-group">

                <button mat-raised-button color="warn">Deletar
                    Usuário</button>
                <button mat-raised-button color="primary" [disabled]="this.userForm.invalid" (click)="submitDialog()"
                    style="margin-left: 10px">Confirmar
                    Edição</button>
                <button mat-raised-button color="basic" (click)="onClear()"
                    [disabled]="this.userForm.untouched && this.userForm.pristine"
                    style="margin-left: 10px">Limpar</button>

            </div>

        </form>

    </mat-card-content>
</mat-card>